*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

#nav-bar{
position: sticky;
top:0;
z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #1E3A8A, #1D4ED8);
    padding: 0 !important;
}
.logo{
    height: 40px;
}

.navbar-nav li{
padding: 0 10px;
}

.navbar-nav li a{
    color:#fff !important ;
    font-weight: 600;
    float: right;
    text-align: left;
    }
.navbar-toggler-icon{
    color: #fff;
    font-size: 20px !important;
}
.navbar-toggler{
    outline: none !important;
}

/*---------- Hero section ----------*/
#hero{
    background-image: linear-gradient(to right, #1E3A8A, #1D4ED8);
    color:#fff;
    padding-top: 5%;
}
#hero a{
color: #fff;
text-decoration: ;
}

.promo-title{
font-size: 40px;
font-weight: 600;
margin-top: 100px;
}
/*---------- services section ----------*/
.title::before{
    content: '';
    background: #1E3A8A;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #1E3A8A;
    height: 10px;
    width: 50px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);
}
#services{
    margin: 80px 0;
}
.services-img{
    width: 100px;
    margin-top: 20px;
}
.service{ 
    padding: 20px;
}

.text-center{
    text-align: center;
}

.service h4{ 
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #1E3A8A, #1D4ED8);
}

/*---------- About us section ----------*/

#about{
    background: #f8f9fa;
    padding-bottom: 5opx;
    padding-top: 50px;
}
#about {
    margin: 20px;
}
#about h4 p{
    margin-left: 20px;
}

/*---------- Team section ----------*/

#team{
margin: 100px 0;
}
.team{
    border-left: 4px solid #1E3A8A;
    padding-bottom: 50px;
    padding-top: 50px;
}

.team img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 0 10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}

/*--- social-media section ---*/
#social-media{
    background-image: linear-gradient(to right, #1D4ED8, #1E3A8A);
padding: 100px 0;
color: #fff;
}
#social-media p
{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width:60px ;
    transition: 0.5s;
}

.social-icons a:hover img{
transform: translateY(-10px);
}

/*-------- Footer ---------*/
#footer{
    background-image: linear-gradient(to right, #1E3A8A, #1D4ED8);
    color: #fff;
}
.footerimg{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #1E3A8A, #1D4ED8);
}